<h4 class="mt-3">Manage Members</h4>
<hr/>
<button class="btn btn-outline-primary bs-button me-2" (click)="onClickNewMember()">New Member</button>
<button class="btn btn-outline-primary bs-button me-2" (click)="onClickEmailMembers()">Email Members</button>
<button class="btn btn-outline-primary bs-button me-2" [disabled]="!canSignupMembers" (click)="onClickSignupMembers()">Signup Selected Members</button>
@if (!hasActiveRound) {
  <span class="text-danger">No active Round!</span>
}
@if (hasActiveRound) {
  <span class="text-primary">Active Round in Progress!</span>
}
<table class="table table-bordered table-hover mt-3">
  <thead class="table-light">
    <tr>
      <th scope="col">
        Select
      </th>
      <th scope="col">
        Member
      </th>
      <th scope="col">
        Email Address
      </th>
      <th scope="col">
        Phone Number
      </th>
      <th scope="col">
        Auto Enroll
      </th>
      <th scope="col">
        Tags
      </th>
      <th scope="col">
      </th>
    </tr>
  </thead>
  <tbody>
    @for (item of members; track item) {
      <tr>
        <td>
        <div class="d-flex justify-content-center align-items-center">
          <input type="checkbox" class="form-check-input" [(ngModel)]="item.selected">
        </div>
        </td>
        <td (click)="onClickEditMember(item)">
          {{ item.displayName }}
        </td>
        <td (click)="onClickEditMember(item)">
          {{ item.email }}
        </td>
        <td (click)="onClickEditMember(item)">
          {{ item.phone }}
        </td>
        <td (click)="onClickEditMember(item)">
          {{ item.autoEnrollInNewRounds | booleanToYesNo }}
        </td>
        <td style="max-width: 300px;" (click)="onClickEditMember(item)">
          {{ item.tagsString }}
        </td>
        <td class="text-center">
          <button class="btn btn-outline-primary bs-button me-2" (click)="onClickEditMember(item)">Edit</button>
          <button class="btn btn-outline-danger bs-button" (click)="onClickDeleteMember(item)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>
    
<app-member-details
  (saved)="loadMembers()">
</app-member-details>
<app-member-email>
</app-member-email>

