<div class="modal" id="modal-reset-password" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reset Password</h5>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <strong>Members:</strong> {{ memberNames }}
        </div>
        <form [formGroup]="resetPasswordForm">
          <div class="form-floating position-relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control pe-5"
              id="resetPassword"
              placeholder=""
              formControlName="password"
              [class.is-invalid]="resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.invalid">
            <label for="resetPassword">Password</label>
            <button
              type="button"
              class="btn border-0 position-absolute top-50 end-0 translate-middle-y me-4 p-1"
              [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
              [title]="showPassword ? 'Hide password' : 'Show password'"
              (click)="togglePasswordVisibility()">
              @if (showPassword) {
                <svg aria-hidden="true" width="20" height="20" viewBox="0 0 16 16" fill="currentColor">
                  <path d="M13.359 11.238 15.646 13.525l-.707.707L1.061.354l.707-.707 2.596 2.596A8.7 8.7 0 0 1 8 1.5c3.5 0 6.5 2.5 8 6.5a11.8 11.8 0 0 1-2.641 3.238ZM5.12 2.999l1.12 1.12A4 4 0 0 1 11.881 9.76l.76.76A10.7 10.7 0 0 0 14.928 8C13.54 4.62 11.01 2.5 8 2.5c-1.02 0-1.987.244-2.88.499Zm5.76 8.002-1.12-1.12A4 4 0 0 1 4.119 4.24l-.76-.76A10.7 10.7 0 0 0 1.072 8C2.46 11.38 4.99 13.5 8 13.5c1.02 0 1.987-.244 2.88-.499ZM5 8a3 3 0 0 0 4.053 2.807L5.193 6.947A3 3 0 0 0 5 8Z"/>
                </svg>
              } @else {
                <svg aria-hidden="true" width="20" height="20" viewBox="0 0 16 16" fill="currentColor">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8ZM1.173 8C2.606 5.21 4.88 3.5 8 3.5s5.394 1.71 6.827 4.5C13.394 10.79 11.12 12.5 8 12.5S2.606 10.79 1.173 8Z"/>
                  <path d="M8 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Z"/>
                </svg>
              }
            </button>
          </div>
          <i class="bi bi-question-circle"></i><span> Password Requirements:</span>
          <br/>
          <span>1: Must be at least 8 characters in length</span>
          <br/>
          <span>2: Contain at least 1 upper case letter</span>
          <br/>
          <span>3: Contain at least 1 lower case letter</span>
          <br/>
          <span>4: Contain at least 1 number</span>
          <div class="form-check mt-3">
            <input
              type="checkbox"
              class="form-check-input"
              id="sendEmailNotification"
              formControlName="sendEmailNotification">
            <label class="form-check-label" for="sendEmailNotification">Send email notification with new password to members</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary bs-button me-2" [disabled]="resetPasswordForm.invalid" (click)="onOK()">OK</button>
        <button type="button" class="btn btn-outline-danger bs-button" (click)="onClickCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
