<div class="modal" id="roundStartModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Start Round</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="roundForm">
          Start Date:
          <br/>
          <span class="fw-bold">{{ startDate | date: 'M/d/yyyy' }}</span>
          <br/>
          <br/>
          <div class="form-floating">
            <select class="form-select" formControlName="groupSize">
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <label>Group Size</label>
          </div>
          <br/>
          Questions for discussion in new round email (optional):
          <br/>
          <br/>
          <div class="form-floating mb-2">
            <textarea class="form-control" id="dq1" maxlength="255" placeholder="" formControlName="dq1"></textarea>
            <label for="dq1">Question 1</label>
          </div>
          <div class="form-floating mb-2">
            <textarea class="form-control" id="dq2" maxlength="255" placeholder="" formControlName="dq2"></textarea>
            <label for="dq2">Question 2</label>
          </div>
          <div class="form-floating mb-2">
            <textarea class="form-control" id="dq3" maxlength="255" placeholder="" formControlName="dq3"></textarea>
            <label for="dq3">Question 3</label>
          </div>
          <div class="form-floating mb-2">
            <textarea class="form-control" id="dq4" maxlength="255" placeholder="" formControlName="dq4"></textarea>
            <label for="dq4">Question 4</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" id="dq5" maxlength="255" placeholder="" formControlName="dq5"></textarea>
            <label for="dq5">Question 5</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary bs-button me-2" (click)="onClickStart()" [disabled]="!roundForm.valid">Start Round</button>
        <button class="btn btn-outline-danger  bs-button" (click)="onClickCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>